<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyScada.ServerApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EasyScada.ServerApplication.Properties.Settings>
            <setting name="DefaultSaveProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowSaveProjectPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentOpenProjects" serializeAs="String">
                <value />
            </setting>
        </EasyScada.ServerApplication.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>VS2017Dark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>